.content-view {
  display: flex;
  width: 100vw;
  height: calc(100vh - 48px);
  overflow-x: hidden;
}

.content-view--fullscreen {
  height: 100vh;
}

.content-view--withbar {
  height: calc(100vh - 48px);
}

.content-view__book {
  flex: 1;
}

.content-view__pagination {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
  user-select: none;
}

.content-view__pagination:hover {
  background-color: rgba(179, 179, 179, 0.07);
}
